@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  color: #3E2723;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
